@media only screen and (min-width: 320px) and (max-width: 491px) {
  .container {
    flex-direction: column;
    overflow-y: scroll;
  }
  .week-list {
    flex-direction: row;
    justify-content: space-evenly;
  }

  .planner-container {
    flex-direction: column;
  }

  .meal {
    height: 100%;
    margin: 1em 0;
  }

  .meal h1 {
    margin: 1em;
    font-size: 2.5em;
  }

  .meal__button {
    width: 50%;
    display: flex;
    flex-direction: column;
  }
}

@media screen and (min-width: 492px) {
  .container {
  }
  .container aside {
    flex: 1;
  }
  .week-list {
    flex-direction: column;
    height: 100%;
  }
  .week-list li {
    height: 100%;
    width: 100%;
    border-bottom: 1px dotted black;

    /* border-bottom-style: groove; */
  }

  .planner-container {
    justify-content: space-evenly;
  }

  .meal {
    margin-bottom: 2em;
    text-align: center;
  }

  .meal__button {
    width: 100%;
  }
}

/* .meals-grid {
  display: grid;
  align-items: center;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 1em;
} */

.planner-container {
  display: flex;
  width: 100%;
  flex: 5;
  gap: 1em;
}

.meal {
  flex: 1;
  display: flex;
  width: 100%;
  flex-direction: column;
}

.meal h1 {
  text-align: center;

  border-bottom-style: groove;
}

.meal__box {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid red;
}

.meal__box p {
  margin: 1em;
  font-size: 1.2em;
}

.meal__button {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  text-transform: uppercase;
  font-weight: 600;
  cursor: pointer;
}
