* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  --primary: #a4cddd;
}

body {
  background: #333;
  color: #eee;
}

button {
  background: var(--primary);
}

.container {
  margin: 0 1em;
}
